body {
  background-color: rgb(134, 160, 177);
  color: rgb(240, 240, 240);
  font-family: verdana;
  width: 100%;
}

main {
  width: 90%;
  text-align: center;
  margin-top: 40px;
  margin-left: 5%;
  margin-right: 5%;
}

a {
  margin: 0 auto;
  text-decoration: none;
  color: rgb(206, 219, 46);
  opacity: 1.0;
}

a:visited {
  margin: 0 auto;
  color: rgb(206, 219, 46);
  opacity: 1.0;
}
