@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?4uszk1');
    src:    url('../fonts/icomoon.eot?4uszk1#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?4uszk1') format('truetype'),
        url('../fonts/icomoon.woff?4uszk1') format('woff'),
        url('../fonts/icomoon.svg?4uszk1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon-about:before {
  font-family: 'icomoon';
  content: '\e900';
  font-size: 20px;
  vertical-align: middle;
}

.icon-projects:before {
  font-family: 'icomoon';
  content: '\e901';
  font-size: 20px;
  vertical-align: middle;
}

.icon-facebook:before {
  font-family: 'icomoon';
  content: "\e903";
  font-size: 20px;
  vertical-align: middle;
}

.icon-linkedin:before {
  font-family: 'icomoon';
  content: "\e904";
  font-size: 20px;
  vertical-align: middle;
}

.icon-mail:before {
  font-family: 'icomoon';
  content: "\e902";
  font-size: 20px;
  vertical-align: middle;
}
